@model E_CommerceApp.ViewModel.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white text-center">
                <h3 class="mb-0">Create Your Account</h3>
            </div>
            <div class="card-body">
                <form asp-controller="Account" asp-action="Register" method="post">
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" placeholder="you@example.com " />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" placeholder="Enter your full password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                 
                    <div class="d-grid">
                        <button type="submit" class="btn btn-success btn-lg">Login</button>
                    </div>

                </form>
            </div>

            <div class="card-footer text-center">
                <small>Dont Have An Account? <a asp-controller="Account" asp-action="Login">Register Here</a></small>
            </div>


        </div>
    </div>
</div>

